* {
	margin: 0;
    transition: background-color 0.2s ease;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

h3 {
    font-size: 2em;
    padding: 10px 5px;
}

h4 {
    font-size: 1.5em;
    padding: 10px 5px;
}

.headerlink {
	text-decoration: none;
	color: black;
}

.header {
	font-size: 3em;
	font-family: "Playfair Display", serif;
    text-align: center;
    padding: 20px 0;
}

.mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99.9%;
}

.navbar {
    width: 100vw;
    background-color: #909090;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 22%;
    text-align: center;
}

.navbar a.home:hover {
    background-color: #805E73;
}

.navbar a.projects:hover {
    background-color: #4E4D5C;
}

.navbar a.photography:hover {
    background-color: #2D4654;
}

.navbar a.about:hover {
    background-color: #243B4A;
}

@media screen and (max-width: 500px) {
  .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
  }
}

.parallax-1 {
    background-image: url("IMG_7231.jpeg");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url("2019-04-05%2015:53:31.343.jpeg");
    min-height: 500px;  
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url("IMG_7887.jpeg");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {
    background-image: url("Rowing.jpg");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 2em;  
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.material-icons {
    padding: 0px 10px;
}

.projects-th {
    font-size: 1.25em;
}

.projects-td {
    padding: 5px 10px;
    text-align: center;
}

.projects-icons {
    text-align: center;
}

#frame {
    width: 49vw;
    height: 500px;
    pointer-events: none;
    overflow: hidden;
}